body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.control-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Couleurs des boutons selon l'état du serveur */
.server-online .start-button {
    background-color: #4CAF50;
}

.server-offline .start-button,
.server-online .stop-button {
    background-color: #ccc;
}

.server-online .stop-button {
    background-color: #ec0c0c;
}

.restart-button {
    background-color: #ee850d;
}

#server-status {
    font-size: 20px;
    font-weight: bold;
}
